.mod {
  width: 702px;
  height: 672px;
  .box {
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 24px;
    background-color: #ffffff;
    width: 702px;
    height: 672px;
    .main {
      display: flex;
      position: relative;
      align-items: center;
      flex-direction: row;
      justify-content: center;
      width: 702px;
      height: 394px;
      .banner {
        position: relative;
        width: 702px;
        height: 394px;
      }
      .play {
        position: absolute;
        top: 138px;
        left: 291px;
        width: 120px;
        height: 120px;
      }
    }
    .block {
      box-sizing: border-box;
      display: flex;
      position: absolute;
      top: 376px;
      left: 24px;
      align-items: flex-start;
      flex-direction: row;
      border-radius: 6px;
      background-color: #ffb901;
      padding-right: 11px;
      padding-left: 10px;
      height: 36px;
      .organization {
        opacity: 1;
        margin-top: 6px;
        line-height: 24px;
        white-space: nowrap;
        color: #ffffff;
        font-size: 24px;
        font-weight: 600;
        align-self: baseline;
      }
      .organizationNext {
        opacity: 1;
        margin-top: 6px;
        line-height: 24px;
        white-space: nowrap;
        color: #ffffff;
        font-size: 24px;
        font-weight: 300;
        align-self: baseline;
      }
    }
    .title {
      position: relative;
      opacity: 1;
      margin-top: 30px;
      margin-left: 24px;
      max-width: 678px;
      height: 36px;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 36px;
      white-space: pre;
      color: #333333;
      font-size: 32px;
      font-weight: 500;
    }
    .summary {
      webkit-line-clamp: 2px;
      position: relative;
      opacity: 1;
      margin-top: 16px;
      margin-left: 24px;
      width: 650px;
      height: 80px;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 40px;
      color: #888888;
      font-size: 26px;
      font-weight: 300;
    }
    .normal_component {
      display: flex;
      position: relative;
      align-items: flex-start;
      align-self: center;
      flex-direction: column;
      margin-top: 22px;
      height: 65px;
      .outer {
        .bgWrap {
          .bg {
          }
        }
        .percent {
        }
      }
      .block_1 {
        .block_2 {
          .num {
          }
          .txt {
          }
        }
        .group {
          .word {
          }
          .text {
          }
        }
      }
    }
  }
}
